---
import Heading from "@/components/ui/Heading.astro";
import HeroCarousel from "@/components/HeroCarousel/HeroCarousel";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { fetchData } from "@/lib/fetchData";
import Button from "@/components/ui/Button.astro";
import AboutUsTeaser from "@/components/AboutUsTeaser.astro";
import GallerySection from "@/components/GallerySection.astro";
import sanitizeDatoCmsHtml from "@/lib/sanitizeDatoCmsHtml";
import BrandCollabs from "@/components/BrandCollabs.astro";
import ContactSection from "@/components/ContactSection.astro";
import { Seo } from "@datocms/astro/Seo";

export interface HomepageProps {
  homepage: {
    seo: {
      attributes: Record<string, string>;
      content: string;
      tag: string;
    }[];
    heroTitle: string;
    heroButtonText: string;
    heroButtonLink: {
      pageSlug: string;
    };
  };
}

export interface HeroCarouselProps {
  allEndorsers: {
    id: string;
    position: number;
    endorserName: string;
    endorserTitle: string;
    endorserSlug: string;
    endorserImage: {
      responsiveImage: {
        src: string;
        width: number;
        height: number;
        alt: string;
      };
    };
  }[];
}

// TODO: Add Lenis smooth scroll

const data = await fetchData<HomepageProps & HeroCarouselProps>(`{
  homepage {
    seo: _seoMetaTags {
      attributes
      content
      tag
  }
    heroTitle
    heroButtonText
    heroButtonLink {
      pageSlug
    }
  }
  allEndorsers {
    id
    position
    endorserName
    endorserTitle
    endorserSlug
    endorserImage {
      responsiveImage(imgixParams: {fit: crop, auto: format, crop: focalpoint, ar: "4:3"}) {
        src
        width
        height
        alt
      }
    }
  }
}`);
---

<Seo data={[...data.homepage.seo]} />

<BaseLayout>
  <HeroCarousel client:load allEndorsers={data.allEndorsers}>
    <Heading size="lg" font="serif" id="carouselheading" tag="h1" set:html={sanitizeDatoCmsHtml(data.homepage.heroTitle)} />
    <Button size="base" asLink href={data.homepage.heroButtonLink.pageSlug} href={data.homepage.heroButtonLink.pageSlug}>{data.homepage.heroButtonText}</Button>
  </HeroCarousel>
  <AboutUsTeaser />
  <GallerySection allEndorsers={data.allEndorsers} />
  <BrandCollabs />
  <ContactSection />
</BaseLayout>
