---
import MaterialSymbolsArrowRight from "@/icons/MaterialSymbolsArrowForward";
import Heading from "./ui/Heading.astro";
import Image from "astro/components/Image.astro";

const { item } = Astro.props;

export interface Props {
  item: CaseItem;
}

export interface CaseItem {
  logo: {
    attributes: {
      src: string;
      width: number;
      height: number;
      alt: string;
    };
  };
  image: {
    attributes: {
      src: string;
      width: number;
      height: number;
      alt: string;
    };
  };
  caseEyebrow: string;
  caseClientName: string;
  caseShortDescription: string;
  caseLinkText: string;
  slug: string;
}
---

<li class="case">
  <Image class="case-image" src={item.image.attributes.src} alt={item.image.attributes.alt} width={item.image.attributes.width} height={item.image.attributes.height} />
  <div class="case-content">
    <div class="heading-logo">
      <Image class="case-logo" src={item.logo.attributes.src} alt={item.logo.attributes.alt} width={item.logo.attributes.width} height={item.logo.attributes.height} />
      <div>
        <p>{item.caseEyebrow}</p>
        <Heading tag="h2" size="md" font="serif">{item.caseClientName}</Heading>
      </div>
    </div>
    <p>{item.caseShortDescription}</p>
    <a href={item.slug}>{item.caseLinkText} <MaterialSymbolsArrowRight client:load /></a>
    <hr />
  </div>
</li>

<style>
  .case {
    display: grid;
    gap: var(--spacing-20);
    font-size: var(--text-sm);

    @media (min-width: 1024px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .case-content {
    display: grid;
    gap: var(--spacing-16);

    a {
      display: flex;
      align-items: center;
      gap: var(--spacing-8);
      transition: opacity var(--duration-300) var(--ease-in-out-quint);
      width: fit-content;

      svg {
        transition:
          transform var(--duration-300) var(--ease-in-out-quint),
          opacity var(--duration-300) var(--ease-in-out-quint);
      }

      &:hover {
        opacity: var(--opacity-50);
        transition: opacity var(--duration-300) var(--ease-in-out-quint);

        svg {
          transform: translateX(var(--spacing-4));
          transition: transform var(--duration-300) var(--ease-in-out-quint);
        }
      }
    }

    h2 {
      @media (min-width: 1024px) {
        font-size: var(--text-2xl);
      }
    }

    hr {
      max-width: 20%;
      background-color: var(--base-lighterGray);
      height: 2px;
      border: none;

      @media (min-width: 768px) {
        display: none;
      }
    }

    @media (min-width: 1024px) {
      grid-template-rows: 1fr 1fr;
    }
  }

  .case-image {
    aspect-ratio: 3 / 4;
    min-height: 100%;
    object-fit: cover;
  }

  .heading-logo {
    display: flex;
    img {
      flex-basis: 30%;
      min-width: 30%;
      order: 2;
      object-fit: contain;

      @media (min-width: 1024px) {
        min-width: 40%;
      }
    }

    div {
      flex-basis: 70%;
      min-width: 70%;

      @media (min-width: 1024px) {
        height: fit-content;
        margin-top: auto;
      }
    }

    @media (min-width: 1024px) {
      display: contents;
      flex-direction: column;
      align-items: flex-start;

      img {
        order: 0;
        max-width: 10%;
      }
    }
  }
</style>
