---
import { fetchData } from "@/lib/fetchData";
import { StructuredText } from "@datocms/astro";
import Heading from "./ui/Heading.astro";
import Button from "./ui/Button.astro";
import ContactSectionForm from "./ContactSectionForm/ContactSectionForm";
import { Icon } from "astro-icon/components";

interface ContactSectionProps {
  homepage: {
    contactHeader: string;
    contactText: {
      value: any;
    };
    contactButtonText: string;
  };
  generalInfo: {
    phone: string;
  };
}

const data = await fetchData<ContactSectionProps>(`{
  homepage {
    contactHeader
    contactText {
    value
    }
    contactButtonText
  }
  generalInfo {
    phone
  }
}`);
---

<section class="full-bleed" id="contact">
  <div class="contact-content">
    <Heading tag="h3" size="2xl" font="serif">{data.homepage.contactHeader}</Heading>
    <div>
      <StructuredText data={data.homepage.contactText} />
      <div class="separator">|</div>
      <a href={`tel:${data.generalInfo.phone}`}>{data.generalInfo.phone}</a>
    </div>
  </div>
  <ContactSectionForm client:idle>
    <Button variant="default" size="base"><Icon name="MailSymbol" />{data.homepage.contactButtonText}</Button>
  </ContactSectionForm>

  <style>
    .contact-content {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-20);

      @media (min-width: 1024px) {
        grid-column: col-1 / col-3 !important;
      }
    }

    section {
      scroll-margin-top: 4.625rem;
      margin-bottom: var(--spacing-52);
      @media (min-width: 1024px) {
        margin-bottom: var(--spacing-152);
      }
    }
  </style>
</section>
