---
import { fetchData } from "@/lib/fetchData";
import { Image } from "astro:assets";

export interface HeroCarouselProps {
  allEndorsers: Endorser[];
  homepage: {
    heroTitle: string;
    heroButtonText: string;
    heroButtonLink: {
      pageSlug: string;
    };
  };
}

export interface Endorser {
  endorserName: string;
  endorserTitle: string;
  endorserImage: {
    responsiveImage: {
      src: string;
      width: number;
      height: number;
      alt: string;
    };
  };
}

const data = await fetchData<HeroCarouselProps>(`{
  homepage {
    heroTitle
    heroButtonText
    heroButtonLink {
      pageSlug
    }
  }
  allEndorsers {
    endorserName
    endorserTitle
    endorserImage {
        responsiveImage(imgixParams: {fit: crop, auto: format, crop: focalpoint, ar: "16:9"}) {
        src
        width
        height
        alt
      }
    }
  }
}`);
---

<section class="carousel-container">
  <header>
    <h1 set:html={data.homepage.heroTitle} />
    <a href={data.homepage.heroButtonLink.pageSlug}>{data.homepage.heroButtonText}</a>
  </header>
  {
    data.allEndorsers.map((endorser: Endorser) => (
      <article class="slide-container">
        <Image src={endorser.endorserImage.responsiveImage.src} alt={endorser.endorserImage.responsiveImage.alt} width={endorser.endorserImage.responsiveImage.width} height={endorser.endorserImage.responsiveImage.height} />
        <h2>{endorser.endorserName}</h2>
        <h3>{endorser.endorserTitle}</h3>
      </article>
    ))
  }
</section>

<style></style>
