---
import { fetchData } from "@/lib/fetchData";
import { Icon } from "astro-icon/components";
import Button from "./ui/Button.astro";

interface NavigationProps {
  generalInfo: {
    primaryLogo: {
      url: string;
      alt: string;
    };
    contactButtonText: string;
  };
  allPages: {
    pageHeadline: string;
    pageSlug: string;
  }[];
  allEndorsers: {
    id: string;
    position: number;
    endorserName: string;
    endorserTitle: string;
    endorserSlug: string;
    endorserImage: {
      responsiveImage: {
        src: string;
        width: number;
        height: number;
        alt: string;
      };
    };
  }[];
}

const data = await fetchData<NavigationProps>(`{
  generalInfo {
    primaryLogo {
      url
      alt
    }
    contactButtonText
  }
  allPages(filter: {pageSlug: {notIn: "privatlivs-politik"}}) {
    pageHeadline
    pageSlug
  }
}`);
---

<nav class="full-bleed">
  <a class="logo" href="/">
    <img class="logo" src={data.generalInfo.primaryLogo.url} alt={data.generalInfo.primaryLogo.alt} />
  </a>
  <div class="desktop-nav-wrapper">
    <div class="button-group">
      <Button class="contact-button" asLink href="#contact" variant="default" rounded size="base"><Icon name="MailSymbol" />{data.generalInfo.contactButtonText}</Button>
      <button id="menu-toggle" aria-label="Toggle Navigation" aria-expanded="false">
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
    </div>
    <ul class="nav-menu">
      {
        data.allPages.map((page) => (
          <li>
            <a href={`/${page.pageSlug}`}>{page.pageHeadline}</a>
          </li>
        ))
      }
    </ul>
  </div>

  <style>
    .logo img {
      min-height: 100%;
    }

    .desktop-nav-wrapper {
      display: contents;

      @media (min-width: 1024px) {
        display: flex;
        align-items: center;
      }
    }

    #menu-toggle {
      display: grid;
      padding-block: var(--spacing-8);
      gap: var(--spacing-4);
      width: var(--spacing-24);
      .bar {
        height: 2px;
        background-color: var(--base-dark);
        transition: transform var(--duration-700) var(--ease-in-out-quint);
      }

      @media (min-width: 1024px) {
        display: none;
      }
    }

    nav {
      --menu-item-gap: var(--spacing-44);
      transition: background-color var(--duration-300) var(--ease-in-out-quint);
      padding: var(--spacing-20);
      display: flex;
      justify-content: space-between;
      position: fixed;
      width: 100%;
      z-index: 100;
    }

    .nav-menu::before {
      content: "";
      z-index: -1;
      position: fixed;
      bottom: 0;
      background-color: var(--base-light);
      right: -100%;
      width: 100%;
      height: 100%;
      transition: right var(--duration-700) var(--ease-in-out-quint);
    }

    .nav-menu.slide-menu::before {
      right: 0;
    }

    @media (min-width: 1024px) {
      .nav-menu::before {
        display: none;
      }
    }

    .nav-menu {
      font-size: var(--text-2xl);
      color: var(--base-dark);
      position: fixed;
      right: -100%;
      bottom: var(--spacing-24);
      text-align: right;
      transition: right var(--duration-700) var(--ease-in-out-quint);
      @media (min-width: 1024px) {
        font-size: var(--text-base);
        position: static;
        display: flex;
        gap: var(--menu-item-gap);
        align-items: center;
        height: 100%;
      }
    }

    .nav-menu li {
      margin-top: var(--spacing-20);
      transform: translateX(10%);
      width: fit-content;
      position: relative;
      margin-left: auto;
      opacity: 0;
      transition:
        filter var(--duration-700) var(--ease-in-out-quint),
        opacity var(--duration-700) var(--ease-in-out-quint),
        transform var(--duration-700) var(--ease-in-out-quint);
      transition-delay: var(--duration-700);

      @media (min-width: 1024px) {
        transform: translateX(0);
        opacity: 1;
        margin-top: 0;
        transition: none;
      }

      > a::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;

        background-color: var(--base-dark);
        transition: width var(--duration-300) var(--ease-in-out-quint);
      }

      > a:hover::before {
        width: 100%;
      }
    }

    .nav-menu li.slide-in {
      transform: translateX(0);
      filter: blur(0px);
      opacity: 1;
      transition:
        filter var(--duration-700) var(--ease-in-out-quint),
        opacity var(--duration-700) var(--ease-in-out-quint),
        transform var(--duration-700) var(--ease-in-out-quint);
    }

    .nav-menu.slide-menu {
      right: var(--spacing-24);
      transition: right var(--duration-700) var(--ease-in-out-quint);
    }

    .button-group {
      display: flex;
      gap: var(--spacing-24);
      align-items: center;
    }

    .button-group {
      @media (min-width: 1024px) {
        margin-left: var(--menu-item-gap);
        order: 2;
      }
    }

    .logo,
    .button-group {
      z-index: 1;
    }

    .scrolled {
      background-color: var(--base-light);
      transition: background-color var(--duration-300) var(--ease-in-out-quint);
    }

    #menu-toggle.open .bar:first-child {
      transform: translateY(3px) rotate(45deg);
      transition: transform var(--duration-700) var(--ease-in-out-quint);
    }

    #menu-toggle.open .bar:last-child {
      transform: translateY(-3px) rotate(-45deg);
      transition: transform var(--duration-700) var(--ease-in-out-quint);
    }

    .active:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--base-dark);
    }
  </style>

  <script>
    const isHomePage = window.location.pathname === "/";
    const menuToggle = document.getElementById("menu-toggle");
    const navMenu = document.querySelector(".nav-menu");
    const navItems = navMenu?.querySelectorAll("li");
    const navUtilities = document.querySelector("nav");
    const contactButton = document.querySelector(".contact-button");
    const currentURL = window.location.href;

    if (contactButton && !isHomePage) {
      contactButton.setAttribute("href", "/#contact");
    }

    navItems?.forEach((item) => {
      if (item.querySelector("a")?.href === currentURL) {
        item.querySelector("a")?.classList.add("active");
      }
    });

    function checkScrollPosition() {
      if (!menuToggle?.classList.contains("open")) {
        const scrollPosition = window.scrollY;
        if (scrollPosition > 50) {
          navUtilities?.classList.add("scrolled");
        } else {
          navUtilities?.classList.remove("scrolled");
        }
      }
    }

    menuToggle?.addEventListener("click", () => {
      navMenu?.classList.toggle("slide-menu");
      menuToggle.classList.toggle("open");
      if (menuToggle.classList.contains("open")) {
        document.body.style.overflow = "hidden";
        navItems?.forEach((item, index) => {
          setTimeout(
            () => {
              item.classList.add("slide-in");
            },
            200 * (index + 1)
          );
        });
      } else {
        document.body.style.overflow = "auto";
        checkScrollPosition();
        navItems?.forEach((item) => {
          item.classList.remove("slide-in");
        });
      }
    });

    function closeMenu() {
      navMenu?.classList.remove("slide-menu");
      menuToggle?.classList.remove("open");
      document.body.style.overflow = "auto";
      checkScrollPosition();
      navItems?.forEach((item) => {
        item.classList.remove("slide-in");
      });
    }

    contactButton?.addEventListener("click", closeMenu);

    window.addEventListener("scroll", checkScrollPosition);
  </script>
</nav>
